.page-container{
    display: flex;
 padding-top: 5rem; 
 align-items: center;

}

.product-thumbnail{
  flex-direction: column;
  width: 79px;
height: 80px;
    border-radius: 0px;
    display: flex;
 justify-content: flex-start;
 flex-direction: row;
    
}
.product-image{
    cursor: pointer;
    width: 610px;
    height: 511px;
    border-radius: 0px;
}
  
.product-details{
   padding-left: 100px;
   display:flex;
   flex-direction: column;

}
.product-name{
font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 27px;

display: flex;
align-items: center;

color: #1D1F22;

}
.product-item{

   font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 27px;
/* identical to box height, or 90% */

display: flex;
align-items: center;

color: #1D1F22;

}

.size-choice{
    font-family: 'Roboto Condensed';
   font-style: normal;
   font-weight: 700;
   font-size: 18px;
   line-height: 18px;
   /* identical to box height, or 100% */
   
   display: flex;
   align-items: center;
   text-align: center;
   
   color: #1D1F22;
   
}
.sizebutton-style{
flex-direction: row;
display: flex;
}
.colorbutton-style{
   display: flex;
   flex-direction: row;
}


.color-choice{

font-family: 'Roboto Condensed';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 18px;
/* identical to box height, or 100% */

display: flex;
align-items: center;
text-align: center;

color: #1D1F22;
 }

.hidden_radio {
   display: none;
 }
 
 .down {
   margin-bottom: 1.5rem;
 }
 
 .button {
   padding: 0.5rem 1rem;
   color: black;
   margin-right: 0.5rem;
   border: 2px solid violet;
 }
 .button-selected {
   padding: 0.5rem 1rem;
   color: white;
   background-color: violet;
   border: 2px solid violet;
   margin-right: 0.5rem;
 }
 

.cta-button{
   display: flex;
flex-direction: column;
align-items: center;
padding: 16px 32px;

background: #5ECE7B;
}

.price-choice{
font-family: 'Roboto Condensed';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 18px;
/* identical to box height, or 100% */

display: flex;
align-items: center;
text-align: center;

color: #1D1F22;

}

.product-price{
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 18px;
/* or 75% */

display: flex;
align-items: center;

color: #1D1F22;
}

.product-desc{

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 159.96%;
/* or 26px */


/* --c-text */

color: #1D1F22;

}