.page-container{
    display: flex;
 padding-top: 5rem; 
 align-items: center;

}

.product-thumbnail{
  flex-direction: column;
  height: 4.9375rem;
  width: 5rem;
    border-radius: 0px;
    display: flex;
 
    
}
.product-image{
    cursor: pointer;
    height: 31.975rem;
    width: 38.125rem;
    border-radius: 0px;
}
  
.product-details{
   padding-left: 100px;
   display:flex;
   flex-direction: column;

}
.product-name{
font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 27px;

display: flex;
align-items: center;

color: #1D1F22;

}
.product-item{

   font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 27px;
/* identical to box height, or 90% */

display: flex;
align-items: center;

color: #1D1F22;

}

.size-choice{
    font-family: 'Roboto Condensed';
   font-style: normal;
   font-weight: 700;
   font-size: 18px;
   line-height: 18px;
   /* identical to box height, or 100% */
   
   display: flex;
   align-items: center;
   text-align: center;
   
   color: #1D1F22;
   
}
.sizebutton-style{
flex-direction: row;
}
.colorbutton-style{
   flex-direction: row;
}
// .xs{
   
// box-sizing: border-box;

// position: absolute;
// width: 63px;
// height: 45px;
// left: 929px;
// top: 299px;

// border: 1px solid #1D1F22;
// }
// .s{
//    box-sizing: border-box;

// position: absolute;
// width: 63px;
// height: 45px;
// left: 1004px;
// top: 299px;
// border: 1px solid #1D1F
// }
// .m{
//    box-sizing: border-box;

// position: absolute;
// width: 63px;
// height: 45px;
// left: 1079px;
// top: 299px;

// border: 1px solid #1D1F22;
// }
// .l{
// box-sizing: border-box;

// position: absolute;
// width: 63px;
// height: 45px;
// left: 1154px;
// top: 299px;

// border: 1px solid #1D1F22;
// }


.color-choice{

font-family: 'Roboto Condensed';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 18px;
/* identical to box height, or 100% */

display: flex;
align-items: center;
text-align: center;

color: #1D1F22;
}

// .cs1{
   
// position: absolute;
// width: 32px;
// height: 32px;
// left: 2px;
// top: 2px;

// //background: #D3D2D5;
// }

// .cs2{position: absolute;
//    width: 32px;
//    height: 32px;
//    left: 44px;
//    top: 2px;
// }
// .cs3{
//    position: absolute;
//    width: 32px;
//    height: 32px;
//    left: 84px;
//    top: 2px;
// }
.cta-button{
   display: flex;
flex-direction: column;
align-items: center;
padding: 16px 32px;

background: #5ECE7B;
}

.price-choice{
font-family: 'Roboto Condensed';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 18px;
/* identical to box height, or 100% */

display: flex;
align-items: center;
text-align: center;

color: #1D1F22;

}

.product-price{
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 18px;
/* or 75% */

display: flex;
align-items: center;

color: #1D1F22;
}

.product-desc{

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 159.96%;
/* or 26px */


/* --c-text */

color: #1D1F22;

}